<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet"
          href="../static/student_dashboard.css">
</head>
<body>

<div class="navbar">
    <h2>🎓 Student Dashboard</h2>

    <button onclick="logout()">
        Logout
    </button>
</div>

<div class="container">

    <div class="card">
        <h3>Browse Menu</h3>
        <p>View food items available today.</p>
    <a href="/menu">click here</a> 
    
    </div>


    <div class="card">
        <h3>Order History</h3>
        <p>View previous purchases.</p>
    <a href="/my_orders">click here</a>
    </div>

</div>

<script src="../static/student_dashboard.js"></script>

</body>
</html>
